{% extends "base.html" %}
{% block title %}Locations - El Pueblo Mexican Food{% endblock %}
{% block description %}Four locations in the Greater San Diego area{% endblock %}

{% block content %}
 
<!-- Services-->
<section class="page-section bg-light" id="">
</section>
<section class="page-section" id="">
</section>
<section class="page-section bg-light" id="">
</section>
<section class="page-section" id="">
</section>
<section class="page-section bg-light" id="">
</section>
<section class="page-section" id="">
</section>

{% include '_menu.html' %}
{% endblock %}