{% extends "base.html" %}
{% block title %}Home - El Pueblo Mexican Food{% endblock %}
{% block description %}Welcome to El Pueblo, your go-to destination for authentic Mexican food.{% endblock %}

{% block content %}
 
<!-- Services-->
<section class="page-section bg-light" id="">
</section>
<section class="page-section" id="">
</section>
<section class="page-section bg-light" id="">
</section>
<section class="page-section" id="">
</section>
<section class="page-section bg-light" id="">
</section>
<section class="page-section" id="">
    <div>
        <iframe src="https://storage.googleapis.com/maps-solutions-k5o516gwgl/locator-plus/0cjw/locator-plus.html"
            width="100%" height="750px" style="border:0;" loading="lazy">
        </iframe>
    </div>
</section>

{% include '_menu.html' %}
{% endblock %}